li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  background-color: #db4c3f;
  box-sizing: border-box;

}

.app_title {
  color: #fff;
}

.profile {
  display: flex;
  align-items: center;

}

.user_name {
  margin-left: 16px;
  color: #fff;
  font-weight: bold;
}

.main {
  width: 40%;
  margin: 0 auto;
}

.schedule {
  display: flex;
  align-items: baseline;
}

.today {
  padding-right: 8px;
  color: #222222;
}

.date {
  color: #808080;
}
