input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;

  &:focus {
    outline: none;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  width: 100%;
  height: 100%;
  background-color: var(--c-transparent);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  background-color: #db4c3f;
  box-sizing: border-box;

}

.app_title {
  color: #fff;
}

.profile {
  display: flex;
  align-items: center;

}

.user_name {
  margin-left: 16px;
  color: #fff;
  font-weight: bold;
}

.main {
  width: 40%;
  margin: 0 auto;
}

.schedule {
  display: flex;
  align-items: baseline;
}

.today {
  padding-right: 8px;
  color: #222;
}

.date {
  color: #808080;
}

.task_item_list {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

.task_item {
}

.delete_button {
  color: #222;
}

.input_wrapper {
  margin-top: 16px;
  padding: 32px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-indent: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
}

.submit_button {
  width: 120px;
  height: 32px;
  background-color: #db4c3f;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
}

.cancel_button {
  width: 120px;
  height: 32px;
  background-color: transparent;
  color: #222;
}

.add_task_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8px;
  cursor: pointer;
}

.add_task {
  margin-left: 4px;
  color: #595959;
  font-size: 12px;
}
